<!-- <p>contact-detail works!</p> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="contact-title text-left">{{ contact.name }}</h1>
        <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="contact-image">
      </div>
      <div class="col text-right">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h4>Email: {{ contact.email }}</h4>
    <h4>Phone: {{ contact.phone }}</h4>
  </div>
</div>
