<div class="panel panel-default">
  <div class="panel-body">

    <form id="document-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">

        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input #name="ngModel" name="name" type="text" id="name" class="form-control" size="120" max="120"
            [ngModel]="originalDocument?.name" required>
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input name="description" type="text" id="description" class="form-control" size="120" max="255"
            [ngModel]="originalDocument?.description">
        </div>

        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input #documentUrl="ngModel" name="documentUrl" type="text" id="documentUrl" class="form-control" size="150"
            max="255" [ngModel]="originalDocument?.url" required>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!name.valid || !documentUrl.valid">
        The Document Title and URL are required fields!
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
