<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="formLogin.username" name="username"
            required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
          [(ngModel)]="formLogin.password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}">
          <p>Password must have at least one digit, one lowercase letter, one uppercase letter, and be between 8 to 20 characters long.</p>
          <button type="button" class="btn btn-default"
            (click)="toggleShowPassword()">{{showPassword ? 'Hide' : 'Show'}} Password</button>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        <div *ngIf="loggedIn" class="alert alert-success">
          You're logged in!
          <button type="button" class="close" aria-label="Close" (click)="closeSuccessAlert()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
