<!-- <app-header (selectedFeatureEvent)="switchView($event)"></app-header>
<div class="container pull-left" [ngSwitch]="selectedFeature">
  <app-documents *ngSwitchCase="'documents'"></app-documents>
    <app-message *ngSwitchCase="'messages'"></app-message>
  <app-contacts *ngSwitchDefault></app-contacts>
</div> -->
<!-- W06 WORK -->
<app-header></app-header>
<div class="container pull-left">
  <div class="row">
    <div class="col-md-12">
      <!-- W06 removed middle information and switchView event -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
